/*Tipografía de la página*/
@font-face{
  font-family: 'Quicksand';
  src: url('img/fuente.ttf') format('truetype');
}

/*Imagen principal*/
.imagenportada2{
  width: 100%;
  margin-top: 60px;
}

/*Contenedor con la imagen de la chica escribiendo*/
.somos{
  font-family: 'Quicksand', sans-serif;
}
.titulo1{
  margin-top: 50px;
  margin-left: 225px;
  font-size: 105px;
}
.titulo2{
  border-bottom: 7px solid orange;
}
.unapersona{
  width: 50%;
  height: 100%;
  margin-left: 3%;
}
.info1{
  margin-left: 55%;
  font-size: 45px;
  margin-top: -25%;
}

/*Contenedor con la imagen de la calculadora*/
.parteabajo{
  font-family: 'Quicksand', sans-serif;
}
.aprender{
  margin-left: 30px;
  font-size: 80px;
}
.subrayado{
  border-bottom: 7px solid orange;
  width: 1%;
}
.incrementa{
  margin-left: 40px;
  font-size: 35px;
}
.calculadora{
  margin-left: 59%;
  margin-top: -400px;
  height: 500px;
}
.startnow {
  margin-bottom: 100px;
  margin-left: 200px;
  margin-top: -200;
  border-radius: 7px;
  width: 400px;
  height: 70px;
  font-size: 40px;
  color: white;
  border: none;
  background-color: orange;
  transition: background-color 0.3s;
}
.startnow:hover {
  background-color: rgb(221, 144, 0);
}
.startnow:active {
  background-color: rgb(194, 126, 1);
}

/*Nav Bar*/
nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  padding: 10px;
  user-select: none;
  border-bottom: 4px solid #e8e8ee;
  z-index: 1;
}
.logobridge{
  vertical-align: middle;
  justify-content: left;
  align-items: left;
  height: 50px;
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
}
.logout, .registro, .inicio{
  display: inline-block;
  width: 170px;
  height: 50px;
  font-size: 20px;
  font-family: 'Quicksand';
  border-radius: 7px;
  font-weight: bold;
  color: white;
  border: none;
  background-color: orange;
  transition: background-color 0.3s;
}
.logout, .registro{
  margin-right: 5px;
}
.inicio{
  margin-right: 30px;
}
.logout:hover, .registro:hover, .inicio:hover{
  background-color: rgb(221, 144, 0);
}
.logout:active, .logout:active, .registro:active{
  background-color: rgb(194, 126, 1);
}

/*Footer*/
footer{
  margin: -0.6%;
  background-color: rgb(255, 173, 0);
  color: #fff;
  padding: 30px 200px 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}
.leftfoot{
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
}
.footer-logo{
  display: flex;
  align-items: center;
  margin-right: 20px;
  margin-left: 25px;
}
.footer-logo img {
  width: 120px;
  height: auto;
  margin-bottom: 10px;
}
.company-name{
  font-size: 50px;
  font-weight: bold;
  margin-left: 15px;
}
.missionsub{
  text-align: left;
  font-size: 20px;
  margin-left: 35px;
  margin-bottom: 20px;
}
.copyright{
  font-size: 14px;
  margin-bottom: 20px;
  text-align: center;
}
.contact-info{
  text-align: left;
}
.sub {
  margin-top: -25px;
  font-size: 20px;
}
.tit{
  font-weight: bold;
  font-size: 25px;
}
.email p.sub a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: color 0.3s;
}
.email p.sub a:hover{
  color: rgb(201, 201, 201);
}
.email p.sub a:active{
  color: rgb(177, 177, 177);
}