/*TIPOGRAFÍA DE LA PÁGINA*/
@font-face {
  font-family: 'Quicksand';
  src: url('img/fuente.ttf') format('truetype');
}

/*CONTENIDO DE LA PÁGINA*/
.textopresentativo {
  text-align: center;
}
h1{
  font-family: 'Quicksand', sans-serif;
  margin-left: 40px;
  color: #8F8F8F;
}
h3{
  font-family: 'Quicksand', sans-serif;
  font-size: 35px;
}
.cardsM {
  display: grid;
  grid-template-columns: auto auto auto auto;
  text-align: center;
}
.imagen {
  width: 100%;
  height: 100%;
  transition: 0.5s;
  object-fit: cover;
}
.imagen:hover{
  transform: scale(1.1);
}
.cuadro, .cuadro2, .cuadro3, .cuadro4 {
  display: inline-block;
  overflow: hidden;
  border-radius: 7px;
  width: 250px;
  height: 250px;
  background-color: #FEE3A2;
  align-items: center;
  justify-content: center; 
  text-align: center;
}
.cuadro2 {
  background-color: #ADCACB;
}
.cuadro3 {
  background-color: #87C159;
}
.cuadro4 {
  background-color: #056E3C;
}

/*NAV BAR*/
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  padding: 10px;
  user-select: none;
  border-bottom: 4px solid #e8e8ee;
  z-index: 1;
}
.logobridge {
  vertical-align: middle;
  justify-content: left;
  align-items: left;
  height: 50px;
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
}
.logout, .registro, .inicio {
  display: inline-block;
  width: 170px;
  height: 50px;
  font-size: 20px;
  font-family: 'Quicksand';
  border-radius: 7px;
  font-weight: bold;
  color: white;
  border: none;
  background-color: orange;
  transition: background-color 0.3s;
}
.logout{
  margin-right: 4px;
}
.registro {
  margin-right: 5px;
}
.inicio {
  margin-right: 10px;
}
.registro {
  font-size: 20px;
  font-family: 'Quicksand';
  border-radius: 7px;
  font-weight: bold;
  color: white;
  border: none;
  background-color: orange;
  transition: background-color 0.3s;
}
.logout:hover, .registro:hover, .inicio:hover {
  background-color: rgb(221, 144, 0);
}
.logout:active, .logout:active, .registro:active{
  background-color: rgb(194, 126, 1);
}

/*FOOTER*/
footer {
  margin: 0px;
  background-color: rgb(255, 173, 0);
  color: #fff;
  padding: 30px 200px 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}
.leftfoot {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
}
.footer-logo {
  display: flex;
  align-items: center;
  margin-right: 20px;
  margin-left: 25px;
}
.footer-logo img {
  width: 120px;
  height: auto;
  margin-bottom: 10px;
}
.company-name {
  font-size: 50px;
  font-weight: bold;
  margin-left: 15px;
}
.missionsub {
  text-align: left;
  font-size: 20px;
  margin-left: 35px;
  margin-bottom: 20px;
}
.copyright {
  font-size: 14px;
  margin-bottom: 20px;
  text-align: center;
}
.contact-info {
  text-align: left;
}
.sub {
  margin-top: -25px;
  font-size: 20px;
}
.tit {
  font-weight: bold;
  font-size: 25px;
}
.email p.sub a {
  text-decoration: none;
  color: white;
}
.email p.sub a:hover {
  color: rgb(178, 178, 178);
}
.email p.sub a:active {
  color: rgb(153, 153, 153);
}