@font-face {
    font-family: 'Tilt Neon';
    src: url('img/fuente.ttf') format('truetype');
}

/*Nav*/
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 10px;
    user-select: none;
    border-bottom: 4px solid #e8e8ee;
    z-index: 1;
  }
  .logobridge {
    vertical-align: middle;
    justify-content: left;
    align-items: left;
    height: 50px;
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
  }
  .logout {
    display: inline-block;
    margin-right: 5px;
    width: 170px;
    height: 50px;
  }
  .registro {
    display: inline-block;
    margin-right: 5px;
    width: 170px;
    height: 50px;
  }
  .inicio {
    display: inline-block;
    margin-right: 5px;
    width: 170px;
    height: 50px;
  }
  .registro {
  font-size: 20px;
  font-family: 'Tilt Neon';
  color: white;
  border: none;
  background-color: orange;
  transition: background-color 0.3s;
  }
  .registro:hover {
  background-color: rgb(221, 144, 0);
  }
  .registro:active{
  background-color: rgb(194, 126, 1);
  }
  
  .inicio {
  font-size: 20px;
  font-family: 'Tilt Neon';
  color: white;
  border: none;
  background-color: orange;
  transition: background-color 0.3s;
  }
  .inicio:hover {
  background-color: rgb(221, 144, 0);
  }
  .inicio:active{
  background-color: rgb(194, 126, 1);
  }
  .logout {
      font-size: 20px;
      font-family: 'Tilt Neon';
      color: white;
      border: none;
      background-color: orange;
      transition: background-color 0.3s;
      }
      .logout:hover {
      background-color: rgb(221, 144, 0);
      }
      .logout:active{
      background-color: rgb(194, 126, 1);
      }
      .registro {
        font-size: 20px;
        font-family: 'Tilt Neon';
        color: white;
        border: none;
        background-color: orange;
        transition: background-color 0.3s;
        }
        .registro:hover {
        background-color: rgb(221, 144, 0);
        }
        .registro:active{
        background-color: rgb(194, 126, 1);
        }
        .inicio {
        font-size: 20px;
        font-family: 'Tilt Neon';
        color: white;
        border: none;
        background-color: orange;
        transition: background-color 0.3s;
        }
        .inicio:hover {
        background-color: rgb(221, 144, 0);
        }
        .inicio:active{
        background-color: rgb(194, 126, 1);
        }
        .logout {
            font-size: 20px;
            color: white;
            border: none;
            background-color: orange;
            transition: background-color 0.3s;
            }
            .logout:hover {
            background-color: rgb(221, 144, 0);
            }
            .logout:active{
            background-color: rgb(194, 126, 1);
            }

/*CONTENIDO*/
.congrats{
    margin-left: 40px;
    margin-top: 94px;
    font-family: 'Tilt Neon', sans-serif;
    font-size: 50px;
}
.congrats2{
    margin-left: 40px;
    font-family: 'Tilt Neon', sans-serif ;
    font-size: 30px;
}
.congrats3{
    margin-left: 40px;
    color: rgba(255, 173, 0);
    font-family: 'Tilt Neon', sans-serif;
    font-size: 25px;
}

.btn-groupt{
    align-items: center;
    height: 100px;
    width: 100px;
    color-scheme:151, 204, 205 ;

}

.History{
    background-color: rgba(78, 197, 103);
    margin-right: 145px;
    height: 62px;
    width: 174px;
    border: none;
    font-family: 'Tilt Neon', sans-serif;
    font-size: 35px;
    color: rgba(255, 255, 255);
}
.Chemistry{
    background-color: rgba(151, 204, 205);
    margin-left: 1px;
    margin-right: 15px;
    height: 62px;
    width: 174px;
    border: none;
    font-family: 'Tilt Neon', sans-serif;
    font-size: 35px;
    color: rgba(255, 255, 255);
}

.Biology{
    background-color: rgba(0, 134, 76);
    margin-left: 110px;
    margin-right: 130px;
    height: 62px;
    width: 174px;
    border: none;
    font-family: 'Tilt Neon', sans-serif;
    font-size: 35px;
    color: rgba(255, 255, 255);
}
.Physics{
    background-color: rgba(255, 225, 161);
    margin-left: 125px;
    height: 62px;
    width: 174px;
    border: none;
    font-family: 'Tilt Neon', sans-serif;
    font-size: 35px;
    color: rgba(255, 255, 255);
}

.physic1{ margin-left: 125px;
    margin-top: 20px;
    width: 174px;
    height: auto;
}

.biology1{ margin-left: 110px;
    margin-right: 130px;
    margin-top: 20px;
    width: 174px;
    height: auto;
}

.chemistry1{ margin-left: 1px;
    margin-right: 15px;
    margin-top: 20px;
    width: 174px;
    height: auto;
}

.history1{  margin-right: 145px;
    margin-top: 20px;
    width: 174px;
    height: auto;
}

.divisote{
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: center;
}

/*FOOTER*/
li {
    list-style-type: none;
  }
  
  footer {
    background-color: rgb(255, 173, 0);
    color: #fff;
    padding: 30px 200px 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border: none;
    margin: 0;
  }
  
  .leftfoot {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
  }
  
  .footer-logo {
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-left: 25px;
  }
  
  .footer-logo img {
    width: 120px;
    height: auto;
    margin-bottom: 10px;
  }
  
  .company-name {
    font-size: 50px;
    font-weight: bold;
    margin-left: 15px;
    font-family: 'Tilt Neon', sans-serif;
  }
  
  .missionsub {
    text-align: left;
    font-size: 20px;
    margin-left: 35px;
    margin-bottom: 20px;
    font-family: 'Tilt Neon', sans-serif;
  }
  
  .copyright {
    font-size: 14px;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Tilt Neon', sans-serif;
  }
  
  .contact-info {
    text-align: left;
    font-family: 'Tilt Neon', sans-serif;
  }
  
  .sub {
    margin-top: -25px;
    font-size: 20px;
    font-family: 'Tilt Neon', sans-serif;
  }
  
  .tit {
    font-weight: bold;
    font-size: 25px;
    font-family: 'Tilt Neon', sans-serif;
  }