/*Tipografía de la página*/
@font-face{
    font-family: 'Quicksand';
    src: url('img/fuente.ttf') format('truetype');
}

/*Logo superior*/
.logobridge{
    height: 25%; 
    width: 30%;
    margin-top: 5%;
}

/*Ajustes de los contenedores*/
.padre{
    text-align: center;
    justify-content: center;
    display: flex;
}
.box, .box2{
    width: 30%;
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(196, 196, 196);
    box-sizing: border-box;
    border-radius: 7px;
    display: flex;
}
.box{
    height: 380px;
}
.box2{
    height: 390px;
}
.content2{
    width: 78%;
}

/*Títulos de los contenedores*/
.tittle{
    font-size: 40px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    text-align: left;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 5px;

}
.subject{
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    color: rgb(148, 148, 148);
    text-align: left;
    margin-left: 30px;
    margin-top: auto;
}

/*Entradas de textos*/
input{
    margin-right: 10%;
    border: none;
    border-bottom: 2px solid orange;
    outline: none;
    width: 70%;
    padding: 5px 0;
    color: rgb(148, 148, 148);
}
input::placeholder{
    color: rgb(148, 148, 148);
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
}

/*Links entre las páginas de Sign In y Sign Up*/
.other{
    text-align: left;
    margin-left: 10%;
    margin-bottom: 25px;
    margin-top: 25px;
    font-family: 'Quicksand', sans-serif;
    color: rgb(148, 148, 148);
    font-size: 18px;
}
a{
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    color: orange;
}

/*Botones para iniciar sesión y crear cuenta*/
.sign, .createacc{
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    width: 50%;
    height: 15%;
    border-radius: 7px;
    font-size: 20px;
    color: white;
    border: none;
    background-color: orange;
    margin-bottom: 20;
    transition: background-color 0.3s;
}
.createacc{
    margin-left: 73%;
    margin-top: -4%;
}
.sign{
    margin-left: 74%;
    margin-top: -6%;
}
.sign:hover, .createacc:hover{
    background-color: rgb(221, 144, 0);
}
.sign:active, .createacc:active{
    background-color: rgb(194, 126, 1);
}