@font-face {
    font-family: 'Tilt Neon';
    src: url('img/fuente.ttf') format('truetype');
  }
  .logobridge { /*eliminar esto tal vez*/
    display: flex;
    justify-content: left;
    align-items: left;
    height: 8vh; 
}    
.logobridge { /*eliminar*/
    max-width: 100%;
    max-height: 100%;
}
.signup { /*eliminar*/
    float: right;
    margin: 5px;
    border: rgba(255, 173, 0);
}
.signin{ /*eliminar*/
    float: right;
    margin: 5px;
    border: rgba(255, 173, 0);
}
.congrats{
    font-family: 'Tilt Neon', sans-serif;
}
.congrats2{
    font-family: 'Tilt Neon', sans-serif ;
}
.congrats3{
    text-decoration-color: rgb(red, green, blue), 173, 0;
}
