.physbutt{
    background-color: rgb(255, 225, 161);
    width: 433px;
    height: 80px;
    font-size: 50px;
    border-style: solid;
    border-color: black;
}
.histbutt{
    background-color: rgb(135,193,89);
    width: 433px;
    height: 80px;
    font-size: 50px;
    border-style: solid;
    border-color: black;
}
.biobutt{
    background-color: rgb(5, 110, 60);
    width: 433px;
    height: 80px;
    font-size: 50px;
    border-style: solid;
    border-color: black;

}
.chibutt{
    background-color: rgb(78, 115, 194);
    width: 433px;
    height: 80px;
    font-size: 50px;
    border-style: solid;
    border-color: black;
}
.nomo{
    background-color: rgb(151, 204, 205);
    width: 400px;
    height: 300px;
    margin-left: 20px;
    margin-top: 80px;
    margin-bottom: 80px;
    font-size: 50px;  
  
}
.table{
    background-color: rgb(151, 204, 205);
    width: 400px;
    height:  300px;
    margin-left: 40px;
    margin-top:80px;
    margin-bottom: 80px;
    border-style: solid;
    border-color: black;
    font-size: 50px;

}
.chemtit{
    float: left;
    font-size: 50px;
    margin-left: 50px;
    margin-top: 30px;
}
.table{
    display: inline-block;
}

.vectorio{
    background-color: rgb(151, 204, 205);
    width: 250px;
    height:  100px;
    margin-left: 300px;
    margin-top:80px;
    margin-bottom: 80px;
    border-style: solid;
    border-color: black;
    float: left;
}
.ciencia{
    background-color: rgb(193, 205, 151);
    width: 200px;
    height:  100px;
    margin-left: 300px;
    margin-top:80px;
    margin-bottom: 80px;
    border-style: solid;
    border-color: black;
    float: right;
}
.vectorio{
display: inline-block;
}
.ciencia{
display: block;
}
.bio{
font: size 70px;
background-color: rgb(112, 224, 131);
float: left;
margin-left: 60px;
margin-top: 40px;
}
.evolucion{
    background-color: rgb(62, 228, 20);
    width: 250px;
    height:  100px;
    margin-left: 300px;
    margin-top:80px;
    margin-bottom: 80px;
    border-style: solid;
    border-color: black;
    float: left;

}
.genetica{
    background-color: rgb(63, 138, 44);
    width: 250px;
    height:  100px;
    margin-left: 300px;
    margin-top:80px;
    margin-bottom: 80px;
    border-style: solid;
    border-color: black;
    float: right;
}
.evolucion{
display: block;
}
.genetica{
display: block;
}

