.physbutt{
    background-color: rgb(255, 225, 161);
    width: 433px;
    height: 80px;
    font-size: 50px;
    border-style: solid;
    border-color: black;
}
.histbutt{
    background-color: rgb(135,193,89);
    width: 433px;
    height: 80px;
    font-size: 50px;
    border-style: solid;
    border-color: black;
}
.biobutt{
    background-color: rgb(5, 110, 60);
    width: 433px;
    height: 80px;
    font-size: 50px;
    border-style: solid;
    border-color: black;
}
.nomen{
    background-color: rgb(151, 204, 205);
    width: 300px;
    height: 200px;
    margin-left: 60px;
    margin-top: 80px;
    margin-bottom: 80px;
    
}
.table{
background-color: rgb(151, 204, 205);
width: 250px;
height:  200px;
margin-left: 470px;
margin-top:80px;
margin-bottom: 80px;
border-style: solid;
border-color: black;

}
.chemtit{
    font-size: 50px;
    margin-left: 50px;
    margin-top: 30px;
}
.table{
    display: inline-block;
}
.nomen{
    display: inline-block;
}

.vectorio{
    background-color: rgb(151, 204, 205);
    width: 250px;
    height:  200px;
    margin-left: 470px;
    margin-top:80px;
    margin-bottom: 80px;
    border-style: solid;
    border-color: black;
}