@font-face {
  font-family: 'Tilt Neon';
  src: url('../img/fuente.ttf') format('truetype');
}

.scinotit {
  background-color: rgb(255, 225, 161);
  height: 90px;
}
.flecha1 {
  width: 50px;
  height: auto;
  margin-bottom: 10px;
}
.scinovid{
  margin-left: 60px;
  margin-top: 25px;
  position: relative;
}
.quizzbutt{
margin-left: 850px;
margin-top: 80px;
position: absolute;
top: 50%; transform: translateY(-50%);
}
.fiquizlink{
font-size: 20px;
font-family: 'Tilt Neon';
padding: 10px 15px;
background-color: rgb(255, 225, 161);
}
.ficongslink{
font-size: 20px;
font-family: 'Tilt Neon';
padding: 10px 15px;
background-color: rgb(255, 225, 161)
}
.fiquizlink:active, .ficongslink:active {
background-color: rgb(153, 135, 96); /*multiplicar valores de rgb por 0,6*/
}
.thisis{
font-family: 'Tilt Neon';
font-size: 30px;
}
.vidstit {
  font-family: 'Tilt Neon', sans-serif;
  font-size: 60px;
  margin-left: 10px;
}
.infovid0{
margin-left: 60px;
}
.infovid{
font-family: 'Tilt Neon', sans-serif;
font-size: 45px;
margin-top: 15px;
margin-bottom: -10px;
}
.infovid1{
font-family: 'Tilt Neon', sans-serif;
font-size: 25px; 
}