@font-face {
    font-family: 'Tilt Neon';
    src: url('../img/fuente.ttf') format('truetype');
  }
  
.scinotit{
  display: inline-block;
    background-color: rgb(255, 225, 161);
}
.flecha1{
  display: inline-block;
    vertical-align: middle;
    width: 50px;
    height: auto;
    margin-right: -2px;
    margin-bottom: -2px;
  }
.vidstit{
  display: inline-block;
    font-family: 'Tilt Neon', sans-serif;
    font-size: 60px;
    vertical-align: middle;
}