@font-face {
    font-family: 'Tilt Neon';
    src: url('../img/fuente.ttf') format('truetype');
  }
  
.scinotit{
    position: relative;
    background-color: rgb(255, 225, 161);
}
.flecha{
    float: left;
    width: 2%;
    height: auto;
    margin-right: 10px;
  }
.vidstit{
    font-family: 'Tilt Neon', sans-serif;
    font-size: 100px;
}